@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #010101;
  background: url("../img/background.png") 100% 0 no-repeat fixed;
}

h1 {
  color: #e4524a;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  color: #e4524a;
  font-size: 25px;
  font-weight: 700;
}

.result_zone h2 {
  color: #fefefe;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 95%;
  overflow: hidden;
}

.sub_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  background-color: #ffd299;
  opacity: 0.9;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-right: 80px;
  height: 100%;
}

.form_div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.choice_zone {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.result_zone {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e4524a;
  opacity: 0.9;
  border-radius: 20px;
  color: #fefefe;
  height: 100%;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 20px;
  border: none;
  width: 35%;
  border-radius: 5px;
  background-color: #e4524a;
  color: #fefefe;
  cursor: pointer;
}

button:hover {
  background-color: #9c3530;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

.radio-buttons label {
  margin-bottom: 10px;
}

.radio-buttons input {
  margin-right: 10px;
}



.selected-option {
  font-size: 24px;
  margin-top: 20px;
}

.result {
  text-align: left;
  margin-left: 20px;
}
